button {
    position: absolute;
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.BazelgeuseContainer {
    display: none;

}

.BazelgeuseContainer img {
  width: 300px;
  height: auto;
  transition: transform 0.1s linear;
}

.Texte {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*GROS BOUTON*/
#PauseButton {
  display: none;
  background-color: green;
  border: 2px solid lightgreen;
}

#PauseButton:hover {
transform: scale(1.1);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

#PauseButton:active {
transform: scale(0.95);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#BazelgeuseButton {
  display: block;
  background-color: red;
  border: 2px solid darkred;
  margin-top: 300px;
}

#BazelgeuseButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

#BazelgeuseButton:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 1250px) {
  .Texte {
    font-size: 1rem;
    position: relative;
  }

  button {
    border-radius: 25px;
  }

  .BazelgeuseContainer h2 p {
    position: absolute;
    margin: 0 auto;
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .Texte {
    font-size: 1rem;
    position: relative;
  }

  button {
    border-radius: 45%;
  }

  .BazelgeuseContainer h2 p {
    position: absolute;
    margin: 0 auto;
    top: 0;
  }
}