body  {
    all: unset;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;    
    background: #112D4E;
}

h1, h2, p, a {
        color: #DBE2EF;
        text-shadow: #112D4E 1px 1px;
}


@media only screen and (max-width: 1250px) {

    body {
        background: #E3CAA5;    
    }

    h1, h2, p, a {
        color: #FFFBE9;
        text-shadow: #CEAB93 1px 1px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        color: #fff5e4;
        background: #ffd1d1;
      }
      
      h1, h2, p, a {
        color: #fff5e4;
        text-shadow: #ff9494 1px 1px;
      } 
}