.SelecteurContainer {
  display: flex;
  position: relative;
  top: 15vh;;
  width: 100vw;
  height: 60%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  transition: all 0.3s ease-in-out;
}

.Selecteur {
  position: relative;;
  height: auto;
  width: 30%;
  transition: all 0.3s ease-in-out;
}

.Selecteur h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.Selecteur img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.SelecteurContainer:hover .Selecteur{
  filter: blur(5px);
}

.SelecteurContainer .Selecteur:hover {
  transform: scale(1.1);
  filter: blur(0px);
  z-index: 2;
}

/*VERSION TABLETTE*/
@media only screen and (max-width: 1250px) {
  .SelecteurContainer {
    flex-flow: rown wrap;
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  .SelecteurContainer {
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
  }

  .Selecteur {
    margin: 15px;
    width: 50%;
    height: auto;
    left: 25%;
  }
}