body {
    all: unset;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    color: #FCFDFA;

    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmM0eWw1aHl4bXNveXFpaGNwb2NuZDlyZjBkOTZxZW5hcGNjdjM1ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/yrneKwpxDcQBb1uGRi/giphy.gif");
    background-size: 100%;
}


.ImgSlide {
object-fit: cover;
width: 500px;
height: 500px;
}

