ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: currentColor;
}

.AccueilContainer {

    background: linear-gradient(180deg, #D3B5D5 0%, rgba(0, 0, 0, 0) 100%);
    height: auto;
    width: auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    text-shadow: black 1px 1px;
    z-index: 15;
}

.AccueilItem {
    display : none;
    margin-bottom: 10px;
    padding: 5%;
    font-size: 35px;

}

.DropDownMenu{
    display: flex;
    border-radius: 50%;
    height: auto;
    width: 50%;
}

@media only screen and (min-width: 1250px) {

    body  {
        background-image: url("https://static.vecteezy.com/system/resources/previews/008/311/935/non_2x/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg")
    }
    .AccueilContainer {
        flex-flow : row wrap;
        justify-content: center;
        align-items: center;
        height: 100px;    
    }

    .DropDownMenu{
        order : 2;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .AccueilItem {
        display: flex;
    }

    .P1 {
        display: flex;
        order: 1;
    }

    .P2 {
        display: flex;
        order: 3;
    }
}